h1{
    color:rgba(19, 22, 207, 0.829);
    background: rgb(146, 161, 207);
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 5px;
    border-radius: 14px;
    
    ;}
div{
    background: rgb(150, 163, 233);
    border-radius: 14px;
    padding: 4%;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 3px solid rgb(72, 39, 134);
    transition: all 2s ;
    color: rgba(20, 47, 197, 0.89)
}

div:hover{
    background: rgb(74, 74, 168);
    border: 3px solid rgb(230, 226, 237);
    color:white;

}
p.p1{
    
    text-align: justify;
    color: rgba(232, 230, 236, 0.932);
    font-size: 14px;
    font-family:cursive;}

p.p11{
    
    text-align: justify;
    color: rgba(232, 230, 236, 0.932);
    font-size: 14px;
    font-family:cursive;}

body{
    
    background:black;}

#space{
    width: 100px;
    height: 100px;
    background: rgb(255, 255, 255);
    border-radius: 40%;
    position: relative;
    top: 50%;
    left: 35%;
    transition: all 2s;
    transform: translate(-50%, -50%);}

#space:hover{
    width: 150px;
    height: 150px;
    background: rgb(152, 92, 92);
    transform: translate(60%, -50%) rotate(360deg);
}

#image{
    position: relative;
    left: 300px;px;
}

button{
    background: rgb(136, 170, 181);
    position: relative;
    left: 300px;
    color:rgb(25, 24, 26)
    width: 200px;
    height: 40px;
    border-radius: 14px;
    border: 3px solid rgb(25, 100, 100);}


